body {
    box-sizing: border-box;

}


.container {
    background-color: burlywood;
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}


.slider {
    max-width: 60%;
    height: auto;
    overflow: hidden;

}

.slider-items {
    width: 500%;
    height: 100%;
    display: flex;
}

.slider-items .item {
    width: 20%;
    transition: all .6s ease;
}

.slider-items .item img {
    width: 100%;
    height: 100%;
}

.slider-items input {
    display: none;
}

.text-slider {
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.slider-nav {
    display: flex;
    width: 20%;
    height: 100%;
    background-color: antiquewhite;
    justify-content: space-between;
    overflow: hidden;
    
}
.text {
    width: 100%;
    height: auto;
}

h3 {
    width: 100%;
    height: auto;
}

.controls {
    width: 20%;
    height: 3rem;
    background-color:burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


label {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    background-color: black;
    border-radius: 50%;
    opacity: 0.5;

}

label:hover,
#c1:checked ~ .controls label:nth-of-type(1),
#c2:checked ~ .controls label:nth-of-type(2),
#c3:checked ~ .controls label:nth-of-type(3),
#c4:checked ~ .controls label:nth-of-type(4),
#c5:checked ~ .controls label:nth-of-type(5) {
	background: coral;
    opacity: 1;
}





#c1:checked ~ .c1 {
    margin-left: 0%;
}
#c2:checked ~ .c1 {
    margin-left: -20%;
}
#c3:checked ~ .c1 {
    margin-left: -40%;
}
#c4:checked ~ .c1 {
    margin-left: -60%;
}
#c5:checked ~ .c1 {
    margin-left: -80%;
}


#c1:checked ~ .text-slider .slider-nav h3:nth-child(1){
    margin-left: 0%;
}
#c2:checked ~ .text-slider .slider-nav h3:nth-child(2) {
    margin-left: -200%;
}
#c3:checked ~ .slider-nav > .c1 {
    margin-left: -400%;
}
#c4:checked ~ .slider-nav > .c1 {
    margin-left: -600%;
}
#c5:checked ~ .slider-nav > .c1 {
    margin-left: -800%;
}


  


